.g-flex{
  display: flex;
}

.g-flex-column{
  flex-flow: column;
}

.g-flex-end{
  justify-content: flex-end;
}

.g-flex-center{
  justify-content: center;
}

.g-flex-between{
  justify-content: space-between;
}

.g-flex-around{
  justify-content: space-around;
}

.g-circle{
  border-radius: 100%;
}

.g-padding{
  padding: 15px;
}

.g-padding-sm{
  padding: 5px;
}